
<div class="utility extent">
  <div class="application-view">
    <div class="application-content">
      <div class="application-content-header">
        <div class="application-content-header-label">
          <h2 class="application-content-header-label__title">PokeSwarm</h2>
        </div>
        <!-- </label>-->
      </div>
      <!-- </header>-->
      <div class="application-content-main"><p>PokeSwarm is a pet project for logging Pokemon Go sightings. The purpose is to get enough
data to start spotting trends. Simply put; we want to be able to tell you where to go to find a Pokemon
based on the data the community has provided.</p>

<p>Currently we&#39;re in alpha, just getting started with a fairly limited amount of data. Once we stabilise
the platform, it&#39;ll be about adding features, crafting a better user experience, and smoothing out bugs.</p>
      </div>
      <!-- </main>-->
    </div>
    <!-- </content>-->
  </div>
  <!-- </view>-->
</div>
<!-- </extent>-->