
<div class="application-view">
  <div class="application-view-header">
    <div class="application-view-header-label">
      <h2 class="application-view-header-label__title">Add a sighting</h2>
    </div>
    <!-- </label>-->
  </div>
  <!-- </header>-->
  <div class="application-view-main">
    <div class="utility extent inset">
      <form class="form-sighting" autocomplete="off" data-ng-submit="Form.record('name', '#/form/location');">
        <div class="form-sighting-main">
          <ul class="form-sighting-options">
            <li class="form-sighting-options-enclosure">
              <div class="form-sighting-option">
                <div class="form-sighting-option-label">
                  <label class="form-sighting-option-label__title" for="sighting-name">Pokemon</label>
                </div>
                <!-- </label>-->
                <div class="form-sighting-option-media">
                  <div class="autocomplete">
                    <div class="autocomplete-option">
                      <input class="form-sighting__input field" id="sighting-name" data-ng-focus="Form.formData.messages = []" data-ng-model="Form.formData.name" placeholder="Pokemon name..." type="text"/>
                    </div>
                    <div class="autocomplete-result" data-ng-show="Form.formData.name.length &amp;&amp; filtered.length">
                      <ul class="autocomplete-result-list">
                        <li class="autocomplete-result-list-enclosure" data-ng-repeat="poker in Form.pokemon | filter: {Name: Form.formData.name} as filtered"><a class="card-preview" data-ng-click="Form.autocomplete('name',poker.Name)">
                            <div class="card-preview-media"><img class="card-preview-media__object" height="26" data-ng-src="/api/pokemon/icons/{{poker.Number}}.ico" width="26"/></div>
                            <!-- </media>-->
                            <div class="card-preview-label"><span class="card-preview-label__title">{{poker.Name}}</span></div>
                            <!-- </label>--></a>
                          <!-- </card>-->
                        </li>
                        <!-- </enclosure>-->
                      </ul>
                      <!-- </list>-->
                    </div>
                    <!-- </result>-->
                  </div>
                  <!-- </autocomplete>-->
                </div>
                <!-- </media>-->
              </div>
              <!-- </option>-->
            </li>
            <!-- </enclosure>-->
          </ul>
          <!-- </options>-->
        </div>
        <!-- </main>-->
        <div class="form-sighting-footer">
          <button class="button-outline utility foreground-color-blue-lochmara" data-ng-click="Form.record('name', '#/form/location');">
            <div class="button-outline-label"><span class="button-outline-label__title">Next</span></div>
            <!-- </label>-->
          </button>
          <!-- </outline>-->
        </div>
        <!-- </footer>-->
      </form>
      <!-- </form>-->
    </div>
    <!-- </extent>-->
  </div>
  <!-- </main>-->
</div>
<!-- </view>-->