
<div class="application-view">
  <div class="application-view-header">
    <div class="application-view-header-label">
      <h2 class="application-view-header-label__title">Add a sighting</h2>
    </div>
    <!-- </label>-->
    <div class="application-view-header-tools">
      <ul class="application-view-header-tools-set">
        <li class="application-view-header-tools-set-enclosure">
          <button class="button-tool" data-ng-click="Form.submit(Form.name);">
            <div class="button-tool-media">
              <svg class="button-tool-media__object graphic pin-point">
                <use xlink:href="#save"></use>
              </svg>
            </div>
            <!-- </media>-->
          </button>
          <!-- </tool>-->
        </li>
        <!-- </enclosure>-->
      </ul>
      <!-- </set>-->
    </div>
    <!-- </tools>-->
  </div>
  <!-- </header>-->
  <div class="application-view-main">
    <form class="form-sighting" data-ng-submit="Form.submit(Form.name);">
      <div class="form-sighting-main">
        <ul class="form-sighting-options">
          <li class="form-sighting-options-enclosure">
            <div class="form-sighting-option" data-ng-class="{'error':Form.error}">
              <div class="form-sighting-option-label">
                <label class="form-sighting-option-label__title" for="sighting-name">Pokemon</label><span class="form-sighting-option-label__description">The name of the sighted Pokemon</span>
              </div>
              <!-- </label>-->
              <div class="form-sighting-option-media">
                <input class="form-sighting__input field" id="sighting-name" data-ng-focus="Form.error = ''" data-ng-model="Form.name" placeholder="Pokemon name..." type="text"/>
              </div>
              <!-- </media>-->
            </div>
            <!-- </option>-->
          </li>
          <!-- </enclosure>-->
          <li class="form-sighting-options-enclosure">
            <div class="form-sighting-option">
              <div class="form-sighting-option-label">
                <label class="form-sighting-option-label__title" for="sighting-location">Location</label><span class="form-sighting-option-label__description">Drag the marker to where you saw the Pokemon</span>
              </div>
              <!-- </label>-->
              <div class="form-sighting-option-media">
                <div class="form-sighting__input">
                  <div class="map">
                    <div class="map-view">
                      <div id="location"></div>
                    </div>
                    <!-- </view>-->
                    <div class="map-controls"></div>
                    <!-- </controls>-->
                  </div>
                  <!-- </map>-->
                </div>
                <!-- </input>-->
              </div>
              <!-- </media>-->
            </div>
            <!-- </option>-->
          </li>
          <!-- </option>-->
        </ul>
        <!-- </options>-->
      </div>
      <!-- </main>-->
    </form>
    <!-- </form>-->
  </div>
  <!-- </main>-->
</div>
<!-- </view>-->