
<div class="application-view">
  <div class="application-view-header">
    <div class="application-view-header-label">
      <h2 class="application-view-header-label__title">Add a sighting</h2>
    </div>
    <!-- </label>-->
    <div class="application-view-header-tools">
      <ul class="application-view-header-tools-set">
        <li class="application-view-header-tools-set-enclosure">
          <button class="button-tool" data-ng-click="Form.submit();">
            <div class="button-tool-media">
              <svg class="button-tool-media__object graphic pin-point">
                <use xlink:href="#save"></use>
              </svg>
            </div>
            <!-- </media>-->
          </button>
          <!-- </tool>-->
        </li>
        <!-- </enclosure>-->
      </ul>
      <!-- </set>-->
    </div>
    <!-- </tools>-->
  </div>
  <!-- </header>-->
  <div class="application-view-main">
    <form class="form-sighting" autocomplete="off" data-ng-submit="Form.submit();">
      <div class="form-sighting-messages">
        <ul class="form-sighting-messages-list">
          <li class="form-sighting-messages-list-enclosure" data-ng-repeat="message in Form.formData.messages"><span class="card-message">
              <div class="card-message-media">
                <svg class="card-message-media__object graphic tick">
                  <use xlink:href="#tick"></use>
                </svg>
              </div>
              <!-- </media>-->
              <div class="card-message-label"><span class="card-message-label__title">{{message}}</span></div>
              <!-- </label>--></span>
            <!-- </message>-->
          </li>
          <!-- </enclosure>-->
        </ul>
        <!-- </list>-->
      </div>
      <!-- </messages>-->
      <div class="form-sighting-main">
        <ul class="form-sighting-options">
          <li class="form-sighting-options-enclosure">
            <div class="form-sighting-option">
              <div class="form-sighting-option-label">
                <label class="form-sighting-option-label__title" for="sighting-name">Pokemon</label>
              </div>
              <!-- </label>-->
              <div class="form-sighting-option-media">
                <div class="autocomplete">
                  <div class="autocomplete-option">
                    <input class="form-sighting__input field" id="sighting-name" data-ng-focus="Form.formData.messages = []" data-ng-model="Form.formData.name" placeholder="Pokemon name..." type="text"/>
                  </div>
                  <div class="autocomplete-result" data-ng-show="Form.formData.name.length &amp;&amp; filtered.length">
                    <ul class="autocomplete-result-list">
                      <li class="autocomplete-result-list-enclosure" data-ng-repeat="poker in Form.pokemon | filter: {Name: Form.formData.name} as filtered"><a class="card-preview" data-ng-click="Form.autocomplete('name',poker.Name)">
                          <div class="card-preview-media"><img class="card-preview-media__object" height="26" data-ng-src="/api/pokemon/icons/{{poker.Number}}.ico" width="26"/></div>
                          <!-- </media>-->
                          <div class="card-preview-label"><span class="card-preview-label__title">{{poker.Name}}</span></div>
                          <!-- </label>--></a>
                        <!-- </card>-->
                      </li>
                      <!-- </enclosure>-->
                    </ul>
                    <!-- </list>-->
                  </div>
                  <!-- </result>-->
                </div>
              </div>
              <!-- </media>-->
            </div>
            <!-- </option>-->
          </li>
          <!-- </enclosure>-->
          <li class="form-sighting-options-enclosure">
            <div class="form-sighting-option">
              <div class="form-sighting-option-label">
                <label class="form-sighting-option-label__title" for="sighting-location">Location</label><span class="form-sighting-option-label__description">Drag the marker to where you saw the Pokemon</span>
              </div>
              <!-- </label>-->
              <div class="form-sighting-option-media">
                <div class="form-sighting__input">
                  <div class="map" data-ng-controller="MapController as Map">
                    <div class="map-view" data-ng-class="{'fullscreen':Map.fullscreen}" data-ng-init="Map.initialize('location', true, true, false)">
                      <div class="map-view-instance" id="location"></div>
                      <div class="map-controls">
                        <ul class="map-controls-set">
                          <li class="map-controls-set-enclosure"><a class="button-tool" data-ng-click="Map.relocate(true)">
                              <div class="button-tool-media">
                                <svg class="button-tool-media__object graphic pin-point">
                                  <use xlink:href="#pin-point"></use>
                                </svg>
                              </div>
                              <!-- </media>--></a>
                            <!-- </tool>-->
                          </li>
                          <!-- </enclosure>-->
                          <li class="map-controls-set-enclosure"><a class="button-tool" data-ng-click="Map.resize()">
                              <div class="button-tool-media">
                                <svg class="button-tool-media__object graphic chevron" data-ng-class="{'rotation up':!Map.fullscreen}">
                                  <use xlink:href="#chevron"></use>
                                </svg>
                              </div>
                              <!-- </media>--></a>
                            <!-- </tool>-->
                          </li>
                          <!-- </enclosure>-->
                        </ul>
                        <!-- </set>-->
                      </div>
                      <!-- </controls>-->
                    </div>
                    <!-- </view>-->
                  </div>
                  <!-- </map>-->
                </div>
                <!-- </input>-->
              </div>
              <!-- </media>-->
            </div>
            <!-- </option>-->
          </li>
          <!-- </option>-->
        </ul>
        <!-- </options>-->
      </div>
      <!-- </main>-->
    </form>
    <!-- </form>-->
  </div>
  <!-- </main>-->
</div>
<!-- </view>-->