
<div class="map">
  <div class="map-view">
    <div id="map"></div>
    <!-- </map>-->
    <div class="application-controls">
      <ul class="application-controls-set">
        <li class="application-controls-set-enclosure">
          <div class="button-action utility background-color-black" data-ng-click="Map.relocate()">
            <div class="button-action-media">
              <svg class="button-action-media__object graphic pin-point">
                <use xlink:href="#pin-point"></use>
              </svg>
            </div>
            <!-- </media>-->
          </div>
          <!-- </action>-->
        </li>
        <!-- </enclosure>-->
        <li class="application-controls-set-enclosure">
          <div class="button-action utility background-color-black" data-ng-click="Application.reload()">
            <div class="button-task-action-media">
              <svg class="button-action-media__object graphic reload">
                <use xlink:href="#reload"></use>
              </svg>
            </div>
            <!-- </media>-->
          </div>
          <!-- </action>-->
        </li>
        <!-- </enclosure>-->
      </ul>
      <!-- </set>-->
    </div>
    <!-- </controls>-->
  </div>
  <!-- </view>-->
</div>
<!-- </map>-->