
<div class="application-view">
  <div class="application-view-header">
    <div class="application-view-header-label">
      <h2 class="application-view-header-label__title">Add a sighting</h2>
    </div>
    <!-- </label>-->
  </div>
  <!-- </header>-->
  <div class="application-view-main">
    <div class="utility extent inset">
      <form class="form-sighting" autocomplete="off">
        <div class="form-sighting-messages">
          <ul class="form-sighting-messages-list">
            <li class="form-sighting-messages-list-enclosure"><span class="card-message">
                <div class="card-message-media">
                  <svg class="card-message-media__object graphic tick">
                    <use xlink:href="#tick"></use>
                  </svg>
                </div>
                <!-- </media>-->
                <div class="card-message-label"><span class="card-message-label__title">Successfully added Pokemon to the PokeSwarm map</span></div>
                <!-- </label>--></span>
              <!-- </message>-->
            </li>
            <!-- </enclosure>-->
          </ul>
          <!-- </list>-->
        </div>
        <!-- </messages>-->
        <div class="form-sighting-footer"><a class="button-outline utility foreground-color-blue-lochmara" data-ng-href="/#/form/">
            <div class="button-outline-label"><span class="button-outline-label__title">Add another</span></div>
            <!-- </label>--></a>
          <!-- </outline>-->
        </div>
        <!-- </footer>-->
      </form>
      <!-- </form>-->
    </div>
    <!-- </extent>-->
  </div>
  <!-- </main>-->
</div>
<!-- </view>-->