.brand{
	align-items:center;display:flex;

	// <children>
	&-label{
		margin:{left:12px;};

		// <children>
		&__title{
			font:{family:map-get($fonts,heading);size:rem(16px);weight:bold;};line-height:1em;margin:0;
		}
		// </children>
	}

	&-media{
		// <children>
		&__object{
			height:28px;width:28px;
		}
		// </children>
	}
	// </children>
}