.map{
	// <ancestors>
	.leaflet-control-container{
		// <ancestors>
		.leaflet-control{
			// <children>
			&-zoom{
				display:none;top:110px;
			}

			&-zoom-in{
				height:26px;width:26px;
			}

			&-zoom-out{
				height:26px;width:26px;
			}
			// </children>
		}

		.leaflet-bottom{
			z-index:1;

			// <modifiers>
			&.leaflet-right{

			}
			// </modifiers>
		}
		// </ancestors>
	}
	.leaflet-marker-icon{
		// <modifiers>
		&.location{
			position:relative;

			// <children>
			&:before{
				background:map-get($colors,_blue-lochmara);border-radius:50%;bottom:0;content:'';display:block;left:0;
				position:absolute;right:0;top:0;z-index:1;
			}

			&:after{
				animation:pulse 2s infinite;background:{color:rgba(map-get($colors,_blue-lochmara),0.5)};
				border-radius:50%;bottom:0;content:'';display:block;left:0;position:absolute;
				right:0;top:0;z-index:0;
			}
			// </children>
		}
		// </modifiers>
	}
	// </ancestors>
	
	// <children>
	&-controls{
		@include theme($colors,_blue-lochmara, 0.45);
		
		left:0;padding:12px;right:0;top:0;z-index:3;

		// <children>
		&-set{
			align-items:center;display:flex;justify-content:flex-end;
			list-style:none;margin:0;padding:0;

			// <children>
			&-enclosure{
				margin:{right:12px;};

				// <instance>
				&:last-child{
					margin:{right:0;};
				}
				// </instance>
			}
			// </children>
		}
		// </children>
	}

	&-view{
		position:relative;

		// <children>
		&-instance{
			
		}
		// </children>

		// <modifiers>
		&.fullscreen{
			position:static;
		}

		&.fullscreen &-instance{
			bottom:0;left:0;height:100%!important;position:absolute!important;right:0;top:0;width:100%!important;
			z-index:2;
		}
		// </modifiers>
	}
	// </children>

	// <instance>
	#map{
		height:100vh;margin:{top:-110px;};width:100%;

		// <children>
		.gm-style-iw{
			color:$dark;font:{weight:bold;};
		}
		// </children>
	}

	#location{
		height:500px;width:100%;
	}
	// </instance>
}