.map{
	position:relative;

	// <children>
	&-controls{
		bottom:50px;left:0;padding:12px 24px;position:fixed;right:0;

		// <children>
		&-set{
			align-items:center;display:flex;justify-content:flex-end;
			list-style:none;margin:0;padding:0;

			// <children>
			&-enclosure{
				margin:{right:12px;};

				// <instance>
				&:last-child{
					margin:{right:0;};
				}
				// </instance>
			}
			// </children>
		}
		// </children>
	}

	#map{
		height:100vh;width:100%;

		// <children>
		.gm-style-iw{
			color:$dark;font:{weight:bold;};
		}
		// </children>
	}

	&-tools{
		position:relative;
		
		// <children>
		&-actions{
			align-items:center;display:flex;list-style:none;justify-content:space-between;
			margin:0;padding:0;
		}
		// </children>
	}

	&-view{
		
	}
	// </children>
}