/// <summary>
/// </summary>
.dropdown{
	position:relative;

	// <children>
	&-action{
		align-items:center;cursor:pointer;display:flex;

		// <children>
		&-label{
			// <children>
			&__title{
				display:block;font:{size:rem(18px);weight:normal;};
			}
			// </children>
		}

		&-media{
			margin:{left:4px;};
		}
		// </children>
	}

	&-result{
		background:{color:rgba(map-get($colors,_blue-cornflower),0.7)};
		margin:{top:12px;};padding:12px;position:absolute;
		top:100%;z-index:1;
	}
	// </children>
}