/// <summary>
/// </summary>
.dropdown{
	display:block;

	// <children>
	&-action{
		align-items:center;cursor:pointer;display:flex;

		// <children>
		&-label{
			// <children>
			&__title{
				display:block;font:{size:rem(15px);};line-height:1em;
			}
			// </children>
		}

		&-media{
			margin:{left:4px;};
		}
		// </children>

		// <state>
		&.active &-label__title{
			font:{weight:bold;};
		}
		// </state>
	}

	&-result{
		@include theme($colors,_blue-azure);
		
		left:0;margin:{top:12px;};padding:12px;position:absolute;
		right:0;top:100%;z-index:1;
	}
	// </children>
}