.application-view

	.application-view-header

		.application-view-header-label

			h2.application-view-header-label__title
				| Add a sighting

		// </label>

	// </header>

	.application-view-main
			
		form.form-sighting(autocomplete="off")

			.form-sighting-messages(data-ng-class="{'active':Form.state}")

				.form-sighting-messages-header

					.form-sighting-messages-header-media

						img.form-sighting-messages-header-media__object(data-ng-src="/api/pokemon/icons/{{Form.formData.record.Number}}.ico")

				// </media>

				.form-sighting-messages-main

					.form-sighting-messages-main-label
						
						span.form-sighting-messages-main-label__title
							| {{Form.formData.record.Name}}
						
						span.form-sighting-messages-main-label__title.sub
							| has been added to the map

				// </label>

				.form-sighting-messages-footer

					ul.form-sighting-messages-footer-list

						li.form-sighting-messages-footer-list-enclosure

							a.button-outline.utility.foreground-color-white(href="/#/map")

								.button-outline-label

									span.button-outline-label__title
										| Go to map

								// </label>

							// </outline>
						
						// </enclosure>

						li.form-sighting-messages-footer-list-enclosure

							a.button-outline.utility.foreground-color-white(href="/#/form/")

								.button-outline-label

									span.button-outline-label__title
										| Add another sighting

								// </label>

							// </outline>
						
						// </enclosure>
					
					// </list>

				// </action>

			// </messages>

			.form-sighting-main

				ul.form-sighting-options

					li.form-sighting-options-enclosure

						.form-sighting-option

							.form-sighting-option-media
								
								.form-sighting__input
									
									.map(data-ng-controller="MapController as Map")

										.map-view

											.map-controls

												ul.map-controls-set

													li.map-controls-set-enclosure

														a.button-tool(data-ng-click="Map.locate()")
															
															.button-tool-media

																svg.button-tool-media__object.graphic.pin-point
																	use(xlink:href="#pin-point")

															// </media>

														// </tool>

													// </enclosure>

												// </set>

											// </controls>
											
											#map.map-view-instance

										// </view>
									
									// </map>
								
								// </input>
							
							// </media>
						
						// </option>

					// </option>
				
				// </options>
			
			// </main>
		
		// </form>

		.application-map

			.map

				.map-main
					
					#map.map-instance

					// </map>
					
				// </main>

			// </map>
		
		// </map>
	
	// </main>

	.application-view-footer.active

		button.button-outline.utility.foreground-color-white(data-ng-click="Form.submit()")

			.button-outline-label

				span.button-outline-label__title
					| Submit

			// </label>

		// </outline>

	// </footer>

// </view>