doctype html

html(class="no-js",data-ng-controller="ApplicationController as Application",itemtype="http://schema.org/Article",itemscope,lang="en")
	
	head
	
		include /partials/head

	body
		
		.application
			
			main.application-main(data-ng-view)

			// </main>

		// </application>
		
		include /partials/scripts