&-brand{
	align-items:center;display:flex;flex-grow:1;justify-content:center;

	// <children>
	&-media{
		// <children>
		&__object{
			height:50px;width:50px;
		}
		// </children>
	}
	// </children>
}