&-header{
	@include theme($colors,_blue-lochmara);

	position:relative;z-index:1;

	// <children>
	&-set{
		align-items:center;display:flex;justify-content:space-between;
		list-style:none;margin:0;padding:0;

		// <children>

		// </children>
	}

	&-view{
		padding:10px 24px;
	}
	// </children>
}