.application-view

	.application-view-header

		.application-view-header-label

			h2.application-view-header-label__title
				| Add a sighting

		// </label>

		.application-view-header-tools

			ul.application-view-header-tools-set

				li.application-view-header-tools-set-enclosure

					button.button-tool(data-ng-click="Form.submit(Form.name);")

						.button-tool-media

							svg.button-tool-media__object.graphic.pin-point
								use(xlink:href="#save")

						// </media>

					// </tool>
				
				// </enclosure>
			
			// </set>

		// </tools>

	// </header>

	.application-view-main

		form.form-sighting(autocomplete="off",data-ng-submit="Form.submit(Form.name);")

			.form-sighting-main

				ul.form-sighting-options

					li.form-sighting-options-enclosure

						.form-sighting-option(data-ng-class="{'error':Form.error}")
							
							.form-sighting-option-label

								label.form-sighting-option-label__title(for="sighting-name")
									| Pokemon

							// </label>

							.form-sighting-option-media

								.autocomplete

									.autocomplete-option
									
										input.form-sighting__input.field#sighting-name(data-ng-focus="Form.error = ''",data-ng-model="Form.name",placeholder="Pokemon name...",type="text")
									
									.autocomplete-result(data-ng-if="Form.name.length > 2 && filtered.length")

										ul.autocomplete-result-list
											
											li.autocomplete-result-list-enclosure(data-ng-repeat="poker in Form.pokemon | filter: Form.name as filtered | limitTo: 10")
												
												a.card-preview(data-ng-click="Form.autocomplete('name',poker)")

													.card-preview-media

														img.card-preview-media__object(height="26",data-ng-src="/api/pokemon/icons/{{poker.name}}.ico",width="26")

													// </media>

													.card-preview-label

														span.card-preview-label__title
															| {{poker.name}}

													// </label>

												// </card>

											// </enclosure>

										// </list>

									// </result>

							// </media>
						
						// </option>
					
					// </enclosure>

					li.form-sighting-options-enclosure

						.form-sighting-option

							.form-sighting-option-label

								label.form-sighting-option-label__title(for="sighting-location")
									| Location
								
								span.form-sighting-option-label__description
									| Drag the marker to where you saw the Pokemon

							// </label>

							.form-sighting-option-media
								
								.form-sighting__input
									
									.map(data-ng-controller="MapController as Map")

										.map-view(data-ng-class="{'fullscreen':Map.fullscreen}",data-ng-init="Map.initialize('location', true, true, true)")

											#location.map-view-instance

											.map-controls

												ul.map-controls-set

													li.map-controls-set-enclosure

														a.button-tool(data-ng-click="Map.relocate(true)")
															
															.button-tool-media

																svg.button-tool-media__object.graphic.pin-point
																	use(xlink:href="#pin-point")

															// </media>

														// </tool>

													// </enclosure>

													li.map-controls-set-enclosure

														a.button-tool(data-ng-click="Map.resize()")
															
															.button-tool-media

																svg.button-tool-media__object.graphic.chevron(data-ng-class="{'rotation up':!Map.fullscreen}")
																	use(xlink:href="#chevron")

															// </media>

														// </tool>

													// </enclosure>

												// </set>

											// </controls>

										// </view>
									
									// </map>
								
								// </input>
							
							// </media>
						
						// </option>
					
					// </option>
				
				// </options>
			
			// </main>
		
		// </form>
	
	// </main>

// </view>