.application-view

	.application-view-header

		.application-view-header-label

			h2.application-view-header-label__title
				| Add a sighting

		// </label>

		.application-view-header-tools

			ul.application-view-header-tools-set

				li.application-view-header-tools-set-enclosure

					button.button-tool(data-ng-click="Form.submit(Form.name);")

						.button-tool-media

							svg.button-tool-media__object.graphic.pin-point
								use(xlink:href="#save")

						// </media>

					// </tool>
				
				// </enclosure>
			
			// </set>

		// </tools>

	// </header>

	.application-view-main

		form.form-sighting(data-ng-submit="Form.submit(Form.name);")

			.form-sighting-main

				ul.form-sighting-options

					li.form-sighting-options-enclosure

						.form-sighting-option(data-ng-class="{'error':Form.error}")
							
							.form-sighting-option-label

								label.form-sighting-option-label__title(for="sighting-name")
									| Pokemon
								
								span.form-sighting-option-label__description
									| The name of the sighted Pokemon

							// </label>

							.form-sighting-option-media

								input.form-sighting__input.field#sighting-name(data-ng-focus="Form.error = ''",data-ng-model="Form.name",placeholder="Pokemon name...",type="text")
							
							// </media>
						
						// </option>
					
					// </enclosure>

					li.form-sighting-options-enclosure

						.form-sighting-option

							.form-sighting-option-label

								label.form-sighting-option-label__title(for="sighting-location")
									| Location
								
								span.form-sighting-option-label__description
									| Drag the marker to where you saw the Pokemon

							// </label>

							.form-sighting-option-media
								
								.form-sighting__input
									
									.map

										.map-view

											#location
										
										// </view>

										.map-controls

										// </controls>
									
									// </map>
								
								// </input>
							
							// </media>
						
						// </option>
					
					// </option>
				
				// </options>
			
			// </main>
		
		// </form>
	
	// </main>

// </view>