.map

	.map-main
		
		#map

		// </map>

		.application-controls

			ul.application-controls-set

				li.application-controls-set-enclosure

					.button-action.utility.background-color-black(data-ng-click="Map.relocate()")

						.button-action-media

							svg.button-action-media__object.graphic.pin-point
								use(xlink:href="#pin-point")

						// </media>

					// </action>

				// </enclosure>

				li.application-controls-set-enclosure

					.button-action.utility.background-color-black(data-ng-click="Application.reload()")

						.button-task-action-media

							svg.button-action-media__object.graphic.reload
								use(xlink:href="#reload")

						// </media>

					// </action>

				// </enclosure>

			// </set>

		// </controls>
		
	// </main>

// </map>