.map
	
	.map-view

		#map

		// </map>

		.map-controls

			ul.map-controls-set

				li.map-controls-set-enclosure

					.button-action.utility.background-color-black(data-ng-click="Map.relocate()")

						.button-task-action

							svg.button-action-media__object.graphic.pin-point
								use(xlink:href="#pin-point")

						// </media>

					// </action>

				// </enclosure>

				li.map-controls-set-enclosure

					.button-action.utility.background-color-black(data-ng-click="Application.reload()")

						.button-task-action

							svg.button-action-media__object.graphic.reload
								use(xlink:href="#reload")

						// </media>

					// </action>

				// </enclosure>

			// </set>

		// </controls>
		
	// </view>

// </map>