.application-view

	.application-view-header

		.application-view-header-label

			h2.application-view-header-label__title
				| Sightings

		// </label>

		.application-view-header-tools

			ul.application-view-header-tools-set

				li.application-view-header-tools-set-enclosure

					a.button-tool(data-ng-click="Application.reload();")

						.button-tool-media

							svg.button-tool-media__object.graphic.reload
								use(xlink:href="#reload")

						// </media>

					// </tool>
				
				// </enclosure>

				li.application-view-header-tools-set-enclosure

					button.button-tool(data-ng-click="Map.relocate(false);")

						a.button-tool-media

							svg.button-tool-media__object.graphic.pin-point
								use(xlink:href="#pin-point")

						// </media>

					// </tool>
				
				// </enclosure>
			
			// </set>

		// </tools>

	// </header>

	.application-map

		.map

			.map-main
				
				#map.map-instance

				// </map>
				
			// </main>

		// </map>
	
	// </map>