.map(data-ng-controller="MapController as Map")

	.map-state(data-ng-class="{'active':!Map.loaded}")

		.map-state-media

			img.map-state-media__object(alt="PokeSwarm",height="50",src="/images/brand/logo.png",width="50")

	.map-header(data-ng-class="{'active':Map.loaded}")

		.map-header-brand

			.map-header-brand-media

				img.map-header-brand-media__object(alt="PokeSwarm",src="/images/brand/logo.png")

			// </brand>

		// </brand>

	// </header>
	
	.map-view(data-ng-class="{'active':Map.loaded}")

		#map

		// </map>

	// </view>

	.map-footer(data-ng-class="{'active':Map.loaded}")

		.map-tools
			
			ul.map-tools-actions

				li.maps-tools-actions-enclosure

					.button-task(data-ng-click="Map.reload()")

						.button-task-media

							svg.button-task-media__object.graphic.reload
								use(xlink:href="#reload")

						// </media>

					// </task>

				// </enclosure>

				li.maps-tools-actions-enclosure

					sightings

				// </enclosure>

				li.maps-tools-actions-enclosure
					
					.button-task(data-ng-click="Map.relocate()")

						.button-task-media

							svg.button-task-media__object.graphic.pin-point
								use(xlink:href="#pin-point")

						// </media>

					// </task>
				
				// </enclosure>

			// </actions>

		// </tools>

	// </footer>

// </map>