.map(data-ng-controller="MapController as Map")

	.map-header

		.map-tools
			
			ul.map-tools-actions

				li.maps-tools-actions-enclosure

					dropdown(left="0",object="search",right="initial")

						dropdown-title
							| Search

						dropdown-result
							.search

								.form-search

									.form-search-option

										.form-search-option-media

											input.form-search__input.field(data-ng-model="Map.search",placeholder="Pokemon",type="search")

										// </input>

									// </option>

									.form-search-footer

										ul.form-search-footer-list

											li.form-search-footer-list-enclosure

												button.button-action.utility.background-color-white(data-ng-click="Map.reset()")

													.button-action-label

														span.button-action-label__title
															| Reset

													// </label>

												// </button>

											// </enclosure>

											li.form-search-footer-list-enclosure

												button.button-action.utility.background-color-white(data-ng-click="Map.filter(Map.search)")

													.button-action-label

														span.button-action-label__title
															| Search

													// </label>

												// </button>

											// </enclosure>

										// </list>

									// </footer>

								// </form>

							// </search>

						// </result>

					// </dropdown>

				// </enclosure>

				li.maps-tools-actions-enclosure
					
					.application-logo

						.application-logo-media

							img.application-logo__object(alt="PokeSwarm",height="50",src="/images/brand/logo.png",width="50")

						// </media>

					// </logo>

				li.maps-tools-actions-enclosure

					dropdown(left="initial",object="add",right="0")
						
						dropdown-title
							| Add a sighting

						dropdown-result

							.form-sighting

								.form-sighting-main

									ul.form-sighting-options

										li.form-sighting-options-enclosure

											.form-sighting-option

												.form-sighting-option-label

													label.form-sighting-label__title
														| Pokemon

												// </label>

												.form-sighting-option-media

													input.form-sighting__input.field(data-ng-model="Map.name",placeholder="Pokemon",type="text")

												// </label>

											// </option>

										// </enclosure>

									// </options>

								// </main>

								.form-sighting-footer

									button.button-action.utility.background-color-white(data-ng-click="Map.submit(Map.name)")

										.button-action-label

											span.button-action-label__title
												| Submit

										// </label>

									// </button>

								// </footer>

							// </sighting>

						// </result>

					// </dropdown>

				// </enclosure>

			// </actions>

		// </tools>

	// </header>
	
	.map-view

		#map

		// </map>

	// </view>

	.map-footer

		.map-tools
			
			ul.map-tools-actions

				li.maps-tools-actions-enclosure

					.button-task(data-ng-click="Map.reload()")

						.button-task-label

							span.button-task-label__title
								| Reload

						// </label>

						.button-task-media

							svg.button-task-media__object.graphic.reload
								use(xlink:href="#reload")

						// </media>

					// </task>

				// </enclosure>

				li.maps-tools-actions-enclosure
					
					.button-task(data-ng-click="Map.relocate()")

						.button-task-label

							span.button-task-label__title
								| Update location

						// </label>

						.button-task-media

							svg.button-task-media__object.graphic.pin-point
								use(xlink:href="#pin-point")

						// </media>

					// </task>
				
				// </enclosure>

			// </actions>

		// </tools>

	// </footer>

// </map>