.utility.extent

	.application-view

		.application-content

			.application-content-header

				.application-content-header-label

					h2.application-content-header-label__title
						| Be a part of the swarm

				// </label>

			// </header>

			.application-content-main

				:markdown
					PokeSwarm is a pet project for logging Pokemon Go sightings. The purpose is to get enough
					data to start spotting trends. Simply put; we want to be able to tell you where to go to find a Pokemon
					based on the data the community has provided.

					Currently we're in alpha, just getting started with a fairly limited amount of data. Once we stabilise
					the platform, it'll be about adding features, crafting a better user experience, and smoothing out bugs.

					The more you contribute, the more useful this map will be. If you want to know more, have questions, or just
					want to chat, follow me on Twitter [@mksanderson](http://www.twitter.com/mksanderson/)

			// </main>

		// </content>

	// </view>

// </extent>