&-action{
	align-items:center;background:none;border:0;border-radius:50%;
	cursor:pointer;display:flex;padding:12px;
	
	// <children>
	&-label{
		// <children>
		&__title{
			display:block;font:{size:rem(15px);};line-height:1em;
		}
		// </children>
	}

	&-media{
		
	}
	// </children>
}