&-outline{
	align-items:center;background:none!important;border:2px solid;cursor:pointer;display:flex;
	padding:12px;outline:none;text-decoration:none;
	
	// <children>
	&-label{
		// <children>
		&__title{
			display:block;font:{size:rem(15px);};line-height:1em;
		}
		// </children>
	}
	
	&-media{
		// <instance>
		&:first-child{
			margin:{right:9px;};
		}

		&:last-child{
			margin:{left:9px;};
		}
		// </instance>
	}
	// </children>

	// <state>
	&:focus &-label__title,&:hover &-label__title{
		text-decoration:underline;
	}
	// </state>
}