&-task{
	align-items:center;background:none;border:0;cursor:pointer;display:flex;
	outline:none;
	
	// <children>
	&-label{
		// <children>
		&__title{
			display:block;font:{size:rem(15px);};line-height:1em;
		}
		// </children>
	}
	
	&-media{
		// <instance>
		&:first-child{
			margin:{right:9px;};
		}

		&:last-child{
			margin:{left:9px;};
		}
		// </instance>
	}
	// </children>
}