// Sets the background color and foreground colors for sub elements
@mixin theme($map,$color-name,$opacity:1,$darker:$dark,$lighter:$light){
	background:{color:rgba(map-get($map,$color-name),$opacity);};color:contrast(map-get($map,$color-name),$darker,$lighter);
	fill:contrast(map-get($map,$color-name),$darker,$lighter);

	// <children>
	*{
		color:contrast(map-get($map,$color-name),$darker,$lighter);
		fill:contrast(map-get($map,$color-name),$darker,$lighter);
	}
	// </children>
}