meta(content="IE=edge,chrome=1",http-equiv="X-UA-Compatible")
	
meta(charset="utf-8")

title="PokeSwarm"

// <meta>
meta(content="Log Pokemon sightings from Pokemon Go",name="description")
meta(content="PokeSwarm",name="author")
// </meta>

// <browser>
meta(content="True",name="HandheldFriendly")
meta(content="320",name="MobileOptimized")
meta(content="width=device-width,initial-scale=1",name="viewport")
meta(content="no",name="user-scalable")
meta(content="on",http-equiv="cleartype")
meta(content="yes",name="mobile-web-app-capable")
meta(content="yes",name="apple-mobile-web-app-capable")
meta(content="#0288d1",name="apple-mobile-web-app-status-bar-style")
meta(content="PokeSwarm",name="apple-mobile-web-app-title")
meta(content="PokeSwarm",name="application-name")

link(rel="apple-touch-icon",sizes="76x76",href="/browser/apple-touch-icon.png")
link(rel="icon",type="image/png",href="/browser/favicon-32x32.png",sizes="32x32")
link(rel="icon",type="image/png",href="/browser/favicon-16x16.png",sizes="16x16")
link(rel="manifest",href="/browser/manifest.json")
link(rel="mask-icon",href="/browser/safari-pinned-tab.svg",color="#0288d1")
link(rel="shortcut icon",href="/browser/favicon.ico")
meta(name="msapplication-config",content="/browser/browserconfig.xml")
meta(name="theme-color",content="#0288d1")
// </browser>

// <social>
meta(content="PokeSwarm",itemprop="name")
meta(content="Log Pokemon sightings from Pokemon Go",itemprop="description")
meta(content="/browser/android-icon-192x192.png",itemprop="image")

meta(content="summary_large_image",name="twitter:card")
meta(content="@pokeswarm",name="twitter:site")
meta(content="PokeSwarm",name="twitter:title")
meta(content="Log Pokemon sightings from Pokemon Go",name="twitter:description")
meta(content="@mksanderson",name="twitter:creator")
meta(content="/browser/android-icon-192x192.png",name="twitter:image:src")

meta(content="PokeSwarm",property="og:title")
meta(content="https://www.pokeswarm.in",property="og:url")
meta(content="/browser/android-icon-192x192.png",property="og:image")
meta(content="Log Pokemon sightings from Pokemon Go",property="og:description")
meta(content="PokeSwarm",property="og:site_name")
// </social>

// <resources>
link(href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,700italic,500italic,400italic,300italic,100italic|Source+Sans+Pro:400,300,400italic,300italic,600,600italic,700,700italic",rel="stylesheet")
link(href="/stylesheets/style.css",rel="stylesheet")
link(data-ng-include="'/images/graphics/svg-symbols.svg'")
// </resources>

// <mapping>
script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&key=AIzaSyBmrsSwvhfGt_NOUC6Ht2GCkiI3VIuXP1g")
// </mapping>

// <tracking>
script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-81740203-1', 'auto');
	ga('send', 'pageview');
// </tracking>