.application-header-logo
	
	.application-header-logo-media
		
		svg.application-header-logo-media__object.graphic.gear(title="{{Application.name.title}}")
			use(xlink:href="#gear")
		
	//-@.media
	
//-@.logo