script(defer,src="/bower_components/dependencies.js")

script(defer,src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&key=AIzaSyBmrsSwvhfGt_NOUC6Ht2GCkiI3VIuXP1g")
script(defer,src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js")

script(defer,src="/bootstrap.js")
script(defer,src="/startup.js")

script(defer,src="/configuration/LocationProvider.js")
script(defer,src="/configuration/RouteProvider.js")

script(defer,src="/services/FirebaseService.js")
script(defer,src="/services/GeolocationService.js")
script(defer,src="/services/MapService.js")
script(defer,src="/services/PokemonService.js")

script(defer,src="/controllers/ApplicationController.js")
script(defer,src="/controllers/MapController.js")

script(defer,src="/directives/dropdown/controllers/DropdownController.js")