<!DOCTYPE html>
<html class="no-js" data-ng-controller="ApplicationController as Application" itemtype="http://schema.org/Article" itemscope lang="en">
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <title>PokeSwarm</title>
    <!-- <meta>-->
    <meta content="Log Pokemon sightings from Pokemon Go" name="description">
    <meta content="PokeSwarm" name="author">
    <!-- </meta>-->
    <!-- <browser>-->
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="no" name="user-scalable">
    <meta content="on" http-equiv="cleartype">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="PokeSwarm" name="apple-mobile-web-app-title">
    <meta content="PokeSwarm" name="application-name">
    <link rel="apple-touch-icon" sizes="57x57" href="/browser/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/browser/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/browser/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/browser/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/browser/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/browser/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/browser/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/browser/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/browser/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/browser/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/browser/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/browser/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/browser/favicon-16x16.png">
    <link rel="manifest" href="/browser/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/browser/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- </browser>-->
    <!-- <social>-->
    <meta content="PokeSwarm" itemprop="name">
    <meta content="Log Pokemon sightings from Pokemon Go" itemprop="description">
    <meta content="/browser/android-icon-192x192.png" itemprop="image">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@pokeswarm" name="twitter:site">
    <meta content="PokeSwarm" name="twitter:title">
    <meta content="Log Pokemon sightings from Pokemon Go" name="twitter:description">
    <meta content="@mksanderson" name="twitter:creator">
    <meta content="/browser/android-icon-192x192.png" name="twitter:image:src">
    <meta content="PokeSwarm" property="og:title">
    <meta content="https://www.pokeswarm.in" property="og:url">
    <meta content="/browser/android-icon-192x192.png" property="og:image">
    <meta content="Log Pokemon sightings from Pokemon Go" property="og:description">
    <meta content="PokeSwarm" property="og:site_name">
    <!-- </social>-->
    <!-- <resources>-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link data-ng-include="'/images/graphics/svg-symbols.svg'">
    <!-- </resources>-->
    <!-- <tracking>-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-81740203-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- </tracking>-->
  </head>
  <body>
    <div class="application">
      <header class="application-header">
        <div class="application-header-brand">
          <div class="application-header-brand-media"><img class="application-header-brand-media__object" alt="PokeSwarm" src="/images/brand/logo.png"></div>
          <!-- </media>-->
        </div>
        <!-- </brand>-->
      </header>
      <main class="application-main">
      </main>
      <footer class="application-footer">
        <div class="navigator">
          <ul class="navigator-set">
            <li class="navigator-set-enclosure"><a class="navigator-action" data-ng-class="{'active':Application.currentRoute('/form')}" data-ng-href="/#/form">
                <div class="navigator-action-media">
                  <svg class="navigator-action-media__object graphic add">
                    <use xlink:href="#add"></use>
                  </svg>
                </div>
                <!-- </media>--></a>
              <!-- </action>-->
            </li>
            <!-- </enclosure>-->
            <li class="navigator-set-enclosure"><a class="navigator-action" data-ng-class="{'active':Application.currentRoute('/map')}" data-ng-href="/#/map">
                <div class="navigator-action-media">
                  <svg class="navigator-action-media__object graphic pin">
                    <use xlink:href="#pin"></use>
                  </svg>
                </div>
                <!-- </media>--></a>
              <!-- </action>-->
            </li>
            <!-- </enclosure>-->
            <li class="navigator-set-enclosure"><a class="navigator-action" data-ng-class="{'active':Application.currentRoute('/page')}" data-ng-href="/#/page">
                <div class="navigator-action-media">
                  <svg class="navigator-action-media__object graphic chevron">
                    <use xlink:href="#chevron"></use>
                  </svg>
                </div>
                <!-- </media>--></a>
              <!-- </action>-->
            </li>
            <!-- </enclosure>-->
          </ul>
          <!-- </set>-->
        </div>
        <!-- </navigator>-->
      </footer>
    </div>
    <script defer src="/bower_components/dependencies.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=visualization&amp;key=AIzaSyBmrsSwvhfGt_NOUC6Ht2GCkiI3VIuXP1g"></script>
    <script defer src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <script defer src="/application.js"></script>
  </body>
</html>